.bg-loginned {
	background-color: #66f7242b !important
}

td a i {
	font-size: 16px;
}

#dropContainer, #selectContainer {
	align-items: center !important;
}

#sales-list-pdf {
	display: block;
}

#renderSpace {
	width: 100%;
}

.table-hover-animation tbody tr:hover {
	transform: none !important;
}

.ck.ck-editor__editable_inline>:last-child {
	min-height: 200px !important;
}

.horizontal-menu .header-navbar.navbar-fixed {
	width: 1000px;
}

.horizontal-menu .horizontal-menu-wrapper {
	width: 1000px;
}

.container1000 {
	width: 1000px; margin: 0 auto;
}

.horizontal-menu .header-navbar.navbar-horizontal.floating-nav {
	width: 1000px;
}

.horizontal-menu.navbar-floating .horizontal-menu-wrapper .navbar-horizontal.floating-nav {
	margin-left: 0px;
	margin-right: 0px;
	right: unset;
}

.header-navbar.floating-nav {
	
}

.navbar-container .search-input.open {
	left: unset;
	width: 300px;
}

.news-item p {
	margin: 0;
}

.topnews-item p {
	margin: 0;
}

.news-detail img {
	width: 100% !important;
	height: auto !important;
}

.sidebar-title, .sidebar-content, .news-list-title {
	overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-break: break-all;
}

.horizontal-menu .horizontal-menu-wrapper {
	background-color: #ffffff00 !important;
	top: 50px;
}

footer {
	background-color: white;
	text-align: center;
}

table#userpage-list tr {
	cursor: pointer;
}

.horizontal-menu .header-navbar.navbar-horizontal ul#main-menu-navigation > li > a {
	padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.btn-group-item {
	font-size: 12px;
	padding-left: 1rem !important;
	padding-right: 1rem !important;
	padding-top: calc(0.7rem - 1px) !important;
    padding-bottom: calc(0.7rem - 1px) !important;
}

h4.term-header {
    border-bottom-color: white;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
}

h6.term-header span {
    color: #e91e63;
    display: inline-block;
    margin: 0 0 -1px 0;
    padding: 5px 1px;
    border-bottom: 3px solid #e91e63;
}

@media (max-width: 992px) {
	.container1000 {
		width: 100%;
	}
}